extends layout

block title
  title Welcome!

block content
  section.hello: .container.columned-list
    :markdown
      # About me

      Hi! I'm Danny Spencer:
      software developer, open-source fanatic, designer, illustrator/animator, and all-around enthusiast.
      

      ## Doing cool things with computers

      My expertise is in C, C++, Rust, JavaScript, HTML + CSS, shell scripting, and SQL.
      
      Most of my programming background is self-taught, and largely stems from systems languages such as C and C++.

      For web development, I am more interested in working on the back-end (RESTful APIs, nginx, node.js, etc.),
      but I have a knack for front-end development as well.

      As of writing, I'm learning Ruby, C#, Go, Haskell, and Scala.
      
      In November, I started learning Rust: a new and exciting language by Mozilla.
      It's a language that's been making headlines recently, and I think it's only going to get bigger as the year passes.
      You can find all of my Rust contributions on my GitHub.

      In my spare time, I draw and animate using tools such as Blender and Adobe Flash.

      ---
      *Updated: April 17, 2015*
