doctype html

mixin work(place, date)
  h2= place
  .date= date
  block

html(lang="en")
  head
    meta(charset='UTF-8')
    title Resume
    link(rel='stylesheet', href='css/resume.css')
  body
    .header
      h1 Danny Spencer
    .container.middle
      include cv.md
    script(src='js/vendor.js')
    script(type='text/javascript').
      // Separate each header section into sections that don't page-break when printed
      $('.container h1').each(function() {
        var $set = $(this).nextUntil("h1").andSelf();
        $set.wrapAll('<div class="cv-section" />');
      });
      $('.container h2').each(function() {
        var $set = $(this).nextUntil("h2").andSelf();
        $set.wrapAll('<div class="cv-section" />');
      });
      $('.container h1').each(function() {
        var $set = $(this).next().andSelf();
        $set.wrapAll('<div class="cv-section" />');
      });
