doctype html

mixin work(place, date)
  h2= place
  .date= date
  block

html(lang="en")
  head
    meta(charset='UTF-8')
    title Resume
    link(rel='stylesheet', href='css/resume.css')
  body
    .header
      h1 Danny Spencer
    .container.top
      #contact
        .col1
          .email dan.spencer.np@gmail.com
        .col2
          .github: a(href='https://github.com/nukep') github.com/nukep
          .web: a(href='https://nukep.github.io/portfolio') nukep.github.io/portfolio

      #education
        .school SAIT Polytechnic
        .date September 2012 – April 2014
        div Diploma
        div Information Technology,<br>Software Development

    .container.middle
      #programming
        :markdown
          * C
          * C++
          * Java
          * JavaScript
          * Python
          * PHP
          * bash
          * Rust

      #db
        :markdown
          * MySQL
          * SQLite
          * Oracle
          * MongoDB
          * database design
          * 3NF normalization

      #web
        :markdown
          * HTML
          * JavaScript
          * CSS
          * Sass
          * node.js
          * D3.js
          * Apache
          * nginx
          * jQuery
          * REST
          * Spring
          * Ember.js
          * responsive design

      #tech
        :markdown
          * Windows
          * Linux
          * Docker
          * Git
          * gcc
          * clang
          * MSVC
          * gdb
          * Valgrind
          * PhoneGap
          * Qt
          * OpenGL

    .container.middle
      #projects
        :markdown
          * LlamaDB: A work-in-progress SQL database - Rust
          * rust-sdl2: Library wrapper for SDL2 - Rust
          * nesemu: A simple NES (Nintendo) emulator - Java
          * OpticNav: Capstone project, proof-of-concept augmented reality maps software - Java
          * FamiTracker CX: A cross-platform Qt fork of FamiTracker (8-bit chiptune software) - C++

      #tech-skills
        :markdown
          * Unit, integration testing
          * Test-driven development
          * Object oriented, functional paradigms
          * Ergonomic API design
          * Concurrent programming
          * Debugging and troubleshooting
          * SOLID principles
          * Code analysis and refactoring
          * Algorithms, data structures

      #soft-skills
        :markdown
          * Learns new concepts, technologies and languages very quickly
          * Issue tracking - Redmine, GitHub
          * Detailed writing: comments, issues and commit messages.
          * Critical thinking  / problem solving
          * Loves to talk about exciting ideas
          * Gets along well with others
          * Positive outlook


    .container.bottom
      #work
        +work('SAIT ARIS RADLab', 'Contracted April 2014 – June 2014')
          :markdown
            * Junior Full-stack developer for prototypical web and mobile applications; mobile via PhoneGap
            * Collection and visualization of wireless, real-time hardware data
            * Iteratively designed MySQL schema used for data storage

        +work('Data entry for PMAST', 'Contracted January 2012 – April 2012')
          :markdown
            * Enter written feedback from students into an online database, 80 WPM
